svg.icon
  use(xlink:href='#hamburger')
svg.icon
  use(xlink:href='#first-screen__logo')
svg.icon
  use(xlink:href='#mouse')
svg.icon
  use(xlink:href='#placeholder')
svg.icon
  use(xlink:href='#fountain')
svg.icon
  use(xlink:href='#bench')
svg.icon
  use(xlink:href='#bicycle')
svg.icon
  use(xlink:href='#building')
svg.icon
  use(xlink:href='#facebook-logo')
svg.icon
  use(xlink:href='#instagram')
svg.icon
  use(xlink:href='#Vk')
svg.icon
  use(xlink:href='#youtube')
svg.icon
  use(xlink:href='#play-button')