block nav
  nav.nav-menu(class="col-span-2")
    ul.nav-list.flex.justify-evenly
      li.nav-item
        a(href="/").nav-link Home
      li.nav-item
        a(href="./about.html").nav-link About
      li.nav-item
        a(href="some.html").nav-link Some
      li.nav-item
        a(href="#!").nav-link Menu item