block nav
  .hidden(class='sm:block sm:ml-6')
    .flex.space-x-4
      // Currtext-yellow-1", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
      a.active.text-yellow-1.px-3.py-2.rounded-md.text-sm.font-medium(href='#' aria-current='page') Главная
      a.text-gray-1.px-3.py-2.rounded-md.text-sm.font-medium(href='#' class='hover:text-yellow-1') Экскурсии
      a.text-gray-1.px-3.py-2.rounded-md.text-sm.font-medium(href='#' class='hover:text-yellow-1') Личный кабинет

