block nav
  nav.nav-menu(class="bg-some ")
    ul.nav-list.bg-brand-img.bg-no-repeat.bg-center.bg-contain
      legend Menu
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item