block nav
  nav.nav-menu
    ul.nav-list
      legend Menu
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item