.container.mx-auto.h-24.grid.grid-cols-4
  include ./includes/menu/vertical/nav-menu.pug
  include ./includes/menu/vertical/nav-menu.pug
  include ./includes/menu/vertical/nav-menu.pug
  include ./includes/menu/vertical/nav-menu.pug