block content
  .block.block-1_promo
    include ./includes/content-sections/1_promo.pug
  .block.block-2_details
    include ./includes/content-sections/2_details.pug
  .block.block-3_flate-gallery
    include ./includes/content-sections/3_flate-gallery.pug
  .block.block-4_description
    include ./includes/content-sections/4_description.pug
  .block.block-5_video
    include ./includes/content-sections/5_video.pug
  .block.block-6_map
    include ./includes/content-sections/6_map.pug
  .block.block-7_question
    include ./includes/content-sections/7_question.pug