block content
  .block.block-first
    include ./includes/content-sections/first.pug
  .block.block-second
    include ./includes/content-sections/second.pug
  .block.block-third
    include ./includes/content-sections/third.pug