block content
  .container
    .row
      article.col-4.col-12-sm.border-solid.border-4.border-red-500
        header
          h1 Pug - node template engine
        section
          p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
        footer
          time(datetime="2021-05-31 0:05") 31 мая
      article.col-4.col-12-sm.bg-re
        h2 Pug - node template engine
        section
          h3 Template section
          p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
      article.col-4.col-12-sm
        h2 Pug - node template engine
        section
          h3 Template section
          p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.