block content
  .container.mx-auto
    .row
      article.col-4.col-12-sm
        header
          h1 Pug - node template engine
        section
          p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
        footer
          time(datetime="2021-05-31 0:05") 31 мая
      article.col-4.col-12-sm.prose-lg
        h2.text-center Pug - node template engine
        section.flex.flex-col.items-center.max-w-sm.mx-auto.shadow-md
          img(src=require("/src/img/pic1.png"), alt="")
          .descr.px-4
            h3 Template section
            p.
              Pug is a terse and simple templating language with a
              strong focus on performance and powerful features.
      article.col-4.col-12-sm.prose-lg
        h2.text-center Pug - node template engine
        section.flex.flex-col.items-center.max-w-sm.mx-auto.shadow-md
          img(src=require("/src/img/pic2.png"), alt="")
          .descr.px-4
            h3 Template section
            p.
              Pug is a terse and simple templating language with a
              strong focus on performance and powerful features.