block nav
  nav.nav-menu(class="")
    ul.nav-list.flex.flex-col.justify-evenly
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item
      li.nav-item
        a(href="#!").nav-link Menu item