.container.mx-auto.h-24.grid.grid-cols-4
  include ../menu/vertical/nav-menu.pug
  include ../menu/vertical/nav-menu.pug
  include ../menu/vertical/nav-menu.pug
  include ../menu/vertical/nav-menu.pug