block footer
  .container.mx-auto.p-8.flex.justify-around
    block brand
      include ../brands/brand
    include ../nav-bars/nav-menu
    include ../nav-bars/nav-menu
    block address
      include ../nav-bars/address