@import './vars'
@import './custom'
@import './mix'
@import './grid'

@import '../pages/templates/template'

html,
body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  left: 0
  top: 0
  font-size: 100%

#app
  background-color: $body-color
  background-image: $headerLogo
  background-repeat: no-repeat
  background-position: 50% 50%
  margin: auto

h1
  font-size: 1rem
  background-color: #fff