mixin simpleNav()
  ul.nav
    li.nav-item.nav-item_active
      a(href="#!").nav-link Главная
    li.nav-item
      a(href="#!").nav-link Решения
    li.nav-item
      a(href="#!").nav-link Ресурсы
    li.nav-item
      a(href="#!").nav-link Мой кабинет