block address
  address.not-italic
    ul.flex.flex-col.gap-3
      li Адрес:
        a.ml-2(href="#!") Наб. реки Фонтанки 10-15
      li Телефон:
        a.ml-2(href="tel:+88128798760") 8(812) 879-87-60
      li Отдел продаж: 10:00 - 20:00
      li E-mail:
        a.text-accent.ml-2(href="mailto:vip@housevip.ru") vip@housevip.ru
      li
        ul.flex.gap-4
          li
            a(href="#!")
              svg.icon.social
                use(xlink:href='#youtube')
          li
            a(href="#!")
              svg.icon.social
                use(xlink:href='#Vk')
          li
            a(href="#!")
              svg.icon.social
                use(xlink:href='#facebook-logo')
          li
            a(href="#!")
              svg.icon.social
                use(xlink:href='#instagram')