block nav
  nav#navMenu.nav-menu(class="hidden md:block")
    ul.nav-list.flex(class='gap-x-4 font-medium')
      li.nav-item
        a(href="#!").nav-link О комплексе
      li.nav-item
        a(href="#!").nav-link Район
      li.nav-item
        a(href="#!").nav-link Каталог квартир
      li.nav-item
        a(href="#!").nav-link Ипотека
      li.nav-item
        a(href="#!").nav-link Контакты