extends ./layout/main
include ./utils/mix

block variables

  - var pageTitle = "About Page";
  - var description = "Description for About Page"
  - var pageClass = "my-app"

block header
  include ./templates/includes/headers/header

block content

block footer
  include ./templates/includes/footers/footer