extends ./layout/main

block variables

  - var pageTitle = "Webpack + Pug";
  - var description = "Description for Webpack + Pug"
  - var pageClass = "my-app"

block content

  div
    p Пыщь Пыщь Ололо
  example-component

  include ./templates/template