extends ./layout/main

block variables

  - var pageTitle = "Webpack + Pug";
  - var description = "Description for Webpack + Pug"
  - var pageClass = "my-app"

block content

  div
    template#some-text
      slot(name="gsom") Пыщь Пыщь Ололо
      my-block пич

  include ./templates/template