extends ./layout/main
include ./utils/mix

block variables

  - var pageTitle = "Webpack + Pug";
  - var description = "Description for Webpack + Pug"
  - var pageClass = "my-app"

block header
  include ./templates/includes/headers/header

block content

  div.bg-red-400
    span.text-white.bg-black Пыщь Пыщь Ололо
    button Push
    img(src=require("../img/iamp-logo.svg"), alt="")

  include ./templates/template

block footer