extends ./layout/main
//- include ./utils/mix_bp-5/
include ./utils/mix_tw/cards

block variables

  - var pageTitle = "Webpack + Pug";
  - var description = "Description for Webpack + Pug"
  - var pageClass = "my-app"

block header
  include ./templates/includes/headers/header

block content
  include ./templates/template

block footer
  include ./templates/includes/footers/footer
