//- extends ../../header.pug

block brand
  .brand.p-2.bg-brand-img.bg-no-repeat.bg-center.bg-contain.h-10
    //- a(href="#!" class="max-w-12")
      //- img(src=require('../img/iamp-logo.svg'), alt="brand" class="")