block header
  .container.bg-blue-500.py-8.px-8.max-w-sm.mx-auto.bg-white.rounded-xl.shadow-md.space-y-2.text-white
    block brand
      include ./includes/brands/brand
    block nav
      include ./includes/navs/nav-menu
    block utils