@font-face {
  font-family: 'Amarante';
  src: url('./fonts/amarante-v7-latin-regular.woff') format('woff'),
      url('./fonts/amarante-v7-latin-regular.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: greenyellow;
  border-color: powderblue;
  border-style: solid;
  border-width: 2px;
  height: 16rem;
  font-family: 'Amarante';
  background-image: url('./components/iamp-logo.svg');
  background-repeat: no-repeat;
}