/* @import Logo from "./component/iamp-logo.svg"; */

@font-face {
  font-family: 'Amarante';
  src: url('./amarante-v7-latin-regular.woff') format('woff'),
      url('./amarante-v7-latin-regular.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: blue;
  border-color: powderblue;
  border-style: solid;
  border-width: 2px;
  height: 16rem;
  font-family: 'Amarante';
  background-image: url('./component/iamp-logo.svg');
  background-repeat: no-repeat;
}