.container.mx-auto.flex.flex-col.items-center.justify-between.min-h-75vh.pt-40(class="2xl:pt-40")
  h1.text-center.relative.px-4.flex-col-centered.pt-12(class='font-2xl') Жилой комплекс
    pre.font-header в историческом
      span.font-header(class="hidden md:inline ml-4") центре
    span.font-header(class="md:hidden") центре
  svg.icon.svg-accent.w-10.h-10.fixed.z-10(class=" md:block transform hover:translate-y-4 transition-all duration-300 bottom-1/3 mb-28")
    use(xlink:href='#mouse')
  address.mb-20.flex.justify-between(class="flex-col gap-4 md:gap-48 md:flex-row text-lg not-italic")
    a(href="#map") Наб. реки Фонтанки 10-15
    a(href="tel: 88121234567") 8 (812) 123-45-67