article.container.mx-auto.flex-centered.flex-wrap(class="gap-20 px-4")
  picture
    figure.flex-col-centered
      svg.icon.w-20
        use(xlink:href='#bench')
      figcaption.w-40.text-center Рядом исторические парки и скверы
  picture
    figure.flex-col-centered
      svg.icon.w-20
        use(xlink:href='#building')
      figcaption.w-40.text-center Полностью обустроенный
  picture
    figure.flex-col-centered
      svg.icon.w-20
        use(xlink:href='#fountain')
      figcaption.w-40.text-center 10 фонтанов на территории
  picture
    figure.flex-col-centered.w-40
      svg.icon.w-20
        use(xlink:href='#bicycle')
      figcaption.w-28.text-center 6 км велодорожек
