article.container.relative.mx-auto.flex-centered.flex-wrap(class="gap-12 px-4 pt-24")
  h2.absolute.top-8.self-start(class="xl:left-20 2xl:left-52") Наши квартиры
  picture.cursor-pointer.flex-col-centered(class="min-h-25vh min-w-320 xl:w-4/12" data-modal-open="modal-1")
    figure.flex-col-centered.relative
      img(src=require('./img/3_flate-gallery/pic1.png'), alt="q1")
      figcaption.gallery-figcaption.w-full Лофт - 3 этажа
  picture.cursor-pointer.flex-col-centered(class="min-h-25vh min-w-320 xl:w-4/12" data-modal-open="modal-2")
    figure.flex-col-centered.relative
      img(src=require('./img/3_flate-gallery/pic2.png'), alt="q2")
      figcaption.gallery-figcaption.w-full Лофт - 2 этажа
  picture.cursor-pointer.flex-col-centered(class="min-h-25vh min-w-320 xl:w-4/12" data-modal-open="modal-3")
    figure.flex-col-centered.relative
      img(src=require('./img/3_flate-gallery/pic1.png'), alt="q3")
      figcaption.gallery-figcaption.w-full Лофт - 3 этажа
  picture.cursor-pointer.flex-col-centered(class="min-h-25vh min-w-320 xl:w-4/12" data-modal-open="modal-4")
    figure.flex-col-centered.relative
      img(src=require('./img/3_flate-gallery/pic2.png') alt='q4')
      figcaption.gallery-figcaption.w-full Лофт - 2 этажа