//- - var mov = require('./img/fifth/preview.mp4')
- var video = require('./img/5_video/player-preview.png')

article(class="w-1/2 m-0")
  video.mx-auto(poster=video type="video/mp4")
    source(srcset="", type="video/mp4")