article.container.mx-auto
  h2.mb-8 Район на карте (случайный)
  //- iframe.block(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2015.5761449093611!2d30.488938715513317!3d50.46965925140553!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1622850451021!5m2!1sru!2sua' width='320' height='360' style='border:0;' allowfullscreen='' loading='lazy')
  iframe.block.bg-accent(src='' width='320' height='360' style='border: 1px solid;' allowfullscreen='' loading='lazy')
