#modal-1.modal(aria-hidden='true')
  #modal-overlay.overlay(aria-label="Close modal" tabindex="-1" data-modal-close)
    div.dialog.flex-centered(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
      img(src=require('./img/3_flate-gallery/pic1.png'), alt="q1" role="dialog" aria-labelledby="modal-1-title")

#modal-2.modal(aria-hidden='true')
  #modal-overlay.overlay(aria-label="Close modal" tabindex="-1" data-modal-close)
    div.dialog.flex-centered(role='dialog' aria-modal='true' aria-labelledby='modal-2-title')
      img(src=require('./img/3_flate-gallery/pic2.png'), alt="q2" role="dialog" aria-labelledby="modal-2-title")

#modal-3.modal(aria-hidden='true')
  #modal-overlay.overlay(aria-label="Close modal" tabindex="-1" data-modal-close)
    div.dialog.flex-centered(role='dialog' aria-modal='true' aria-labelledby='modal-3-title')
      img(src=require('./img/3_flate-gallery/pic1.png'), alt="q3" role="dialog" aria-labelledby="modal-3-title")

#modal-4.modal(aria-hidden='true')
  #modal-overlay.overlay(aria-label="Close modal" tabindex="-1" data-modal-close)
    div.dialog.flex-centered(role='dialog' aria-modal='true' aria-labelledby='modal-4-title')
      img(src=require('./img/3_flate-gallery/pic2.png'), alt="q4" role="dialog" aria-labelledby="modal-4-title")