article.border-solid.border-4(class="")
  header.text-center.space-y-2(class="sm:text-left")
    h2 Pug - node template engine
  section(class="")
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
  footer(class="bg-accent")
    time(datetime="2021-05-31 0:05") 31 мая
article.border-solid.border-4.border-accent
  h2 Pug - node template engine
  section
    h3 Template section
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
article.text-white
  h2 Pug - node template engine
  section
    h3 Template section
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.