.max-w-md.mx-auto.bg-dark.rounded-xl.shadow-md.overflow-hidden.border-solid.border-2.border-white(class='md:max-w-2xl')
  div(class='md:flex')
    div(class='md:flex-shrink-0').px-6
      svg.icon.fill-current.text-white.h-36.mx-auto(class='hover:text-accent md:w-36')
        use(xlink:href='#logo')
    .p-6
      .uppercase.tracking-wide.text-sm.text-accent.font-semibold Case study
      a.block.mt-1.text-lg.leading-tight.font-medium.text-black(href='#' class='hover:underline') Finding customers for your new business
      p.mt-2.text-gray-500
        | Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.
